.spinner {
    display: flex;
    justify-content: center;
    color: #ffc107;
    margin: 100px;
}

.spinning {
    animation: spinner 1s linear infinite;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}